<h2>Tickets</h2>
<div class="col s12 m6 l3">
  <div class="card stickey-action green darken-4 hoverable activato">
      <div class="card-content white-text">
          <span class="card-title amber-text text-darken-2">Title</span>
          <i class="small material-icons right">U</i>
          <p>Description</p><br>
          <p>This ticket is open</p><br>
          <p>Date</p><br>
      </div>

      <div class="card-reveal">
          <span class="card-title amber-text text-darken-2">@ticket.Title<i class="material-icons right">close</i></span>
          <p>@ticket.Notes</p>
      </div>
      <div class="card-action white-text accent-4">
          <a asp-action="Open" asp-route-id="@ticket.Id">Open</a>
      </div>
  </div>
</div>


<ul *ngIf="model">
  <li *ngFor="let brew of model">
    <p class="name">{{ brew.name }}</p>
    <p class="country">{{ brew.country }}</p>
    <a class="site" href="{{ brew.website_url }}">site</a>
  </li>
</ul>
