<h1>Client Name</h1>

<h3>Client Details</h3>
<p>
    Username :  {{client.username}}  <br>
    Phone: {{client.phone}} <br>
    Email: {{client.email}} <br>
    Address: {{client.email}} <br>
    Date Added: {{client.dateAdded}}
</p>

<h3>Open Tickets: OpenTicketCount</h3>
<table>
    <tr>
        <th>Title</th>
        <th>Date Added</th>
        <th>Urgent</th>
    </tr>
    <!-- @foreach (var ticket in Model.Tickets) {
    <tr>
        <th>
            <a asp-action="Open" asp-controller="Tickets" asp-route-id="@ticket.Id">@ticket.Title</a>
        </th>
        <th>@ticket.DateAdded.ToString("d")</th>
        @if (ticket.IsUrgent) {
        <th>&#10004;</th>
        }
        else
        {
        <th></th>
        }
    </tr>
    } -->
</table>