<h2>All Clients</h2>

<a [routerLink]="['/addclient']">Add Client</a>

<!-- <div class="row">
  <div class="col s11 m5">
      <div class="card green darken-4 stickey-action hoverable">
          <div class="card-content white-text activator">
              <span class="card-title">Firstname & Lastname</span>
              <p>Company</p><p>
              <p>Open Tickets: OpenTicketCount</p>
          </div>
          <div class="card-action">
              <a [routerLink]="['/addticket']" >Add Ticket</a>
              <a [routerLink]="['/openclient']" >Open</a>
          </div>
      </div>
  </div>
</div> -->

<div *ngFor="let client of clients">
  <div class="row">
    <div class="col s11 m5">
        <div class="card green darken-4 stickey-action hoverable">
            <div class="card-content white-text activator">
                <span class="card-title">{{client.id}}</span>
                <p>{{client.username}}</p><br>
                <p>Open Tickets: {{client.tickets}}</p>
            </div>
            <div class="card-action">
                <a [routerLink]="['/addticket']">Add Ticket</a>
                <a [routerLink]="['/openclient']">Open</a>
            </div>
        </div>
    </div>
  </div>
</div>

